* {
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
body{
    background: linear-gradient(135deg, #e986b8, #ae9be1, #a6a0ff);
}
.app{
    background-color: #ffffff;
    width: 90%;
    max-width: 600px;
    margin:100px auto 0;
    border-radius: 10px;
    padding:30px;
}
.app h1{
    font-size: 25px;
    color:#7d1d83;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.Quiz{
    padding: 20px 0;
}
.Quiz h2{
    font-size: 18px;
    color: #8916e6;
    font-weight: 600;
}
.btn{
    background-color: #dec4c4;
    color:#222;
    font-weight: 500;
    width:100%;
    border: 2px solid #222;
    padding:10px;
     margin:10px;
     text-align: left;
     border-radius: 4px;
     cursor: pointer;
     transition: all 0.5s ease;
}
.btn:hover{
    background-color: #8b1984;
    color:#fff;
}
#next-btn{
    background-color: #3d0441;
    color:#fff;
    border:none;
    font-weight: 500;
    margin: 20px auto 0;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    display:none;
}